
	<ng-include src="'static/js/views/nav.html'"></ng-include>

<div class="col-sm-4">
	<h4>Subjects Studied <span class="badge">grade</span></h4>
		<ul class = "list-group">
			<li class="list-group-item" ng-repeat="sub in csecSubmitted">{{sub.name}}<span class="badge">{{sub.grade}}</span></li>
		</ul>
</div>
<div class="col-sm-4">
	<h4>Applications <span class="badge">priority</span></h4>
	<ul class = "list-group">
		<li class="list-group-item" ng-repeat="sub in capeApplied">{{sub.name}} <span class="badge">{{sub.priority}}</span></li>
	</ul>
</div>
<div class="col-sm-4">
	<h4>Subjects Attained</h4>
	<ul class = "list-group">
			<li class="list-group-item" ng-repeat="sub in successfulCape">{{sub.name}}</li>
			<li class="list-group-item" ng-show="showMessage">{{message}}</li>
		</ul>
</div>