body{
	height: 100%;
	
}
html{
	height: 100%;
}
main{
	height: 87%;
}
header{
	height: 10%;
	background-image:url('/static/images/ssp_banner_plain.png');
}
footer{
	/*padding-top: 50px;*/
	height: 3%;
	background-image:url('/static/images/ssp_banner_plain.png');
}

button{
	background-color: #137587;
	color: white;

}

.userDetails{
	/*padding-top: 5px;*/
	display: inline;
	font-weight: bold;
	color: #137587;
}
.siteNav{
	padding-bottom: 100px;
}
.badge{
	background-color: #137587;
}
.header_logo{
	height: 100%;
}