<!DOCTYPE html>
<html>

<head>
	<title>Subject Selection Pro</title>
	<!-- angular -->
	<script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	 <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
	<script type="text/javascript" src = "/static/js/app.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/static/styles/main.css">
	

	{%block head%}
	{%endblock%}
</head>


<body ng-app="SubjectSelectionApp">

<header>
	{%include  "header.html" %}
</header>

<main>
	<div class="container">
		{%block main%}{%endblock%}
	</div>	
</main>

<footer>
		{% include "footer.html" %}
</footer>

<!-- other necessary stuff	
 -->	



</body>

</html>