<div class="footer">

Student Selection Pro Powered by Flask

	

	<!-- Controllers -->
	<script type="text/javascript" src ='static/js/controllers/CsecCtrl.js'></script>
	<script type="text/javascript" src ='static/js/controllers/CapeCtrl.js'></script>
	<script type="text/javascript" src ='static/js/controllers/LandingCtrl.js'></script>
	<script type="text/javascript" src ='static/js/controllers/LoginCtrl.js'></script>
	<script type="text/javascript" src ='static/js/controllers/HomeCtrl.js'></script>
	<script type="text/javascript" src ='static/js/controllers/RegisterCtrl.js'></script>
	<script type="text/javascript" src ='static/js/controllers/LogoutCtrl.js'></script>
	<script type="text/javascript" src ='static/js/controllers/HeaderCtrl.js'></script>
	<!-- Services -->
	<script type="text/javascript" src = "/static/js/services/getSubjectList.js"></script>
	<script type="text/javascript" src = "/static/js/services/submitSubjects.js"></script>
	<!-- Directives -->
	
</div>